*{
    box-sizing: border-box;
}
.row{
    width: 100%;
}
.col-3{
    width: 15%;
    float: left;
    border: 1px solid #2a3747;
}
.col-6{
    width: 85%;float: left;
    border-left: none;
}
.container{
    width: 95%;
    margin: 0 auto
}
.fix{
    clear: both;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
.admin{
    text-align: center;    margin-top: 15px;
}
.admin>div{
    font-size: 2rem;
    color: orangered;
}
.list-control>ul>li{
    padding: 15px 10px;
}
.list-control>ul>li>a{
    color: whitesmoke;
}
.list-control>ul>li:hover>a{
    font-weight: 600;
}
.right>a:hover{
    border: 2px solid #00a651;
}

.bg{
    background-color: #50637c;
}
.bg-content{
    background-color: #d4cdca;
}

.left{
    float: left; padding-top: 10px;
}
.right{
    float: right;padding-top: 25px;

}

.left>a {
    margin-left: 15px;
}
.right>a{
    padding:10px 30px;
    color: white;
    border-radius: 10px;
    background-color: #50637c;
}
.heading{
    margin: 0 auto; text-align:  center;
}
.heading>h2{
    color:#00a651;
    text-transform: uppercase;
}
